In [2]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
# Check

lesser_of_two_evens(2,5)

5

In [4]:
lesser_of_two_evens(2,4)

2

In [5]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [6]:
animal_crackers('Levelheaded Llama')

True

In [7]:
animal_crackers('Crazy Kangaroo')

False

In [8]:
#MAKES TWENTY: Given two integers, 
#return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [9]:
# Check
makes_twenty(20,10)

True

In [10]:
makes_twenty(2,3)

False

In [11]:
#OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [12]:
# Check
old_macdonald('macdonald')

'MacDonald'

In [13]:
#MASTER YODA: Given a sentence, return a sentence with the words reversed
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [14]:
# Check
master_yoda('I am home')

'home am I'

In [15]:
# Given an integer n, return True if n is within 10 of either 100 or 200
#almost_there(90) --> True
#almost_there(104) --> True
#almost_there(150) --> False

def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [16]:
# Check
almost_there(90)

True

In [17]:
# Check
almost_there(150)

False

In [22]:
#FIND 33:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [19]:
# Check
has_33([1, 3, 3])

True

In [20]:
# Check
has_33([1, 3, 1, 3])

False

In [21]:
##Given a string, return a string where for every character in the original there are three characters
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [23]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [24]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [25]:
# Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10.
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

#blackjack(5,6,7) --> 18
#blackjack(9,9,9) --> 'BUST'
#blackjack(9,9,11) --> 19
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [26]:
# Check
blackjack(5,6,7)

18

In [27]:
# Check
blackjack(9,9,9)

'BUST'

In [28]:
#Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 
#(every 6 will be followed by at least one 9). Return 0 for no numbers....
#...............(if have any alternative code wirte  down below)
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [29]:
# Check
summer_69([1, 3, 5])

9

In [30]:
# Check
summer_69([2, 1, 6, 9, 11])

14

In [31]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [32]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [33]:
# Check
spy_game([1,0,2,4,0,5,7])

True