In [1]:
#What is the value of the expression 4 * (6 + 5)

#What is the value of the expression 4 * 6 + 5 

#What is the value of the expression 4 + 6 * 5

34

In [5]:
4 * 6 + 5

29

In [3]:
4 + 6 * 5

34

In [4]:
4 * (6 + 5)

44

In [ ]:
#What would you use to find a numberâ€™s square root, as well as its square?

In [6]:
# Square root:
100 ** 0.5

10.0

In [7]:
# Square:
10 ** 2

100

In [8]:
#Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:
s = 'hello'
# Print out 'e' using indexing

s[1]

'e'

In [9]:
#Reverse the string 'hello' using slicing:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

In [10]:
#Given the string 'hello', give two methods of producing the letter 'o' using indexing.
s ='hello'
# Print out the 'o'

# Method 1:

s[-1]

'o'

In [11]:
# Method 2:

s[4]

'o'

In [12]:
#Build this list [0,0,0] two separate ways.
# Method 1:
[0]*3

[0, 0, 0]

In [13]:
# Method 2:
list2 = [0,0,0]
list2

[0, 0, 0]

In [14]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'

In [15]:
list3

[1, 2, [3, 4, 'goodbye']]

In [16]:
#Sort the list below:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [17]:
#Using keys and indexing, grab the 'hello' from the following dictionaries:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [18]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [20]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
# This was harder than I expected...
d['k1'][0]['nest_key'][1][0]

'hello'

In [21]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# Phew!
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [22]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [23]:
#TUPLES
#How do you create a tuple?
t = (1,2,3)

In [24]:
#SETS 
#Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [26]:
#BOOLENS
# Answer before running cell
2 > 3

False

In [27]:
# Answer before running cell
3 == 2.0

False

In [28]:
# Answer before running cell
3.0 == 3

True

In [29]:
# Answer before running cell
4**0.5 != 2

False